/Ejercicio2/nbproject/private/
/Ej2Guia7/build/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio5/nbproject/private/
/ejercicio5/build/
/ejecicio5/nbproject/private/
/ejercicio6/nbproject/private/
/ejercicio6/build/
/Ej4Guia7/build/
/Ej4Guia7/nbproject/private/
/Ej3Guia7/build/
/Ej3Guia7/nbproject/private/
/Ej5Guia7/build/
/Ej5Guia7/nbproject/private/
/Ej6Guia7/build/
/Ej6Guia7/nbproject/private/